version: 2
jobs:
  build:
    docker:
      - image: circleci/python:3.6.2
    steps:
      - checkout

      - run:
          name: install dependencies
          command: |
            python3 -m venv venv
            . venv/bin/activate
            pip install --upgrade pip
            pip install .[test]

      - run:
          name: 'Pylinting'
          command: |
            . venv/bin/activate
            pylint target_redshift -d C,W,unexpected-keyword-arg,duplicate-code
   
      - run:
          name: 'Unit and Integration Tests and Coverage'
          command: |
            . venv/bin/activate
            export LOGGING_CONF_FILE=./sample_logging.conf
            coverage run -m pytest --disable-pytest-warnings tests
            coverage report
            coverage html -d coverage_html

workflows:
  version: 2
  build:
    jobs:
      - build
